<style type="text/css">
    <!-- 
    .YiiTagCloud{
        font-size: 100%;
        width: 100% ;
       	font-family: Arial,Helvetica,sans-serif;
        margin:1em 1em 0 1em;    
    }
    .YiiTagCloud {line-height:2em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:center;text-indent:0}
    .YiiTagCloud a:link {text-decoration:none}
    .YiiTagCloud a:visited {text-decoration:none}
    .YiiTagCloud a:hover {text-decoration: underline;}
    .YiiTagCloud a:active {text-decoration: underline;}
    .YiiTagCloudWord {padding:0;position:relative}
    .YiiTagCloudWord a {text-decoration:none}
    // -->
</style>