/* 
    Document   : blue
    Created on : 2013-1-22, 14:33:43
    Author     : martin
    Description:
    Purpose of the stylesheet follows.
*/
/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

